<link rel="stylesheet" href="/css/form.css?v=<?php echo(rand()); ?>" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ asset('/js/userPassword.js') }}" type="text/javascript"></script>
    <br>
    <h1>Crear nuevo trabajador</h1>
    {{ include('crud_user/_form.html.twig') }}
    <a href="{{ path('show_workers') }}"><img src="/images/volver-flecha.png" /></a>

{{ include('header/headerAdmin.html.twig') }}
