<link rel="stylesheet" href="/css/form.css?v=<?php echo(rand()); ?>" />
<br>
    <h1>Editar producto</h1>
    {{ include('product/_form.html.twig', {'button_label': 'Editar'}) }}
    <a href="{{ path('show_products') }}"><img src="/images/volver-flecha.png" /></a>

{{ include('header/headerAdmin.html.twig') }}
