<link rel="stylesheet" href="/css/form.css?v=<?php echo(rand()); ?>" />
    <br>
    <h1>Crear nuevo producto</h1>
    {{ include('product/_form.html.twig') }}
    <a href="{{ path('show_products') }}"><img src="/images/volver-flecha.png" /></a>
{{ include('header/headerAdmin.html.twig') }}

